body{
  text-align: center;
  line-height: 1.7em;
  font-size: 14px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 1.2em;
}

th{
  padding: 5px;
  text-align: center;
  color: gray;
  background-color:black;
}

td{
  padding: 5px;
  text-align: left;
}

td.centroid_gray{
  text-align: center;
  background-color: gray;
}

li{
  display: inline;
}
